.cell-danger {
    background-color: #ff4136 !important;
    color: white !important;
}

.cell-success {
    background-color: #19a974 !important;
    color: white !important;
}

.cell-warning {
    background-color: #ffc107 !important;
    color: black !important;
}