@import "../abstracts/_variables.less";

.red-row {
    background-color: @red-color;
    color: white;

    &:hover {
        background-color: darken(@red-color, 5%);
    }
}

.yellow-row {
    background-color: @yellow-color;
    color: black;

    &:hover {
        background-color: darken(@yellow-color, 5%);
    }

}

.green-row {
    background-color: @green-color;
    color: white;

    &:hover {
        background-color: darken(@green-color, 5%);
    }
}

.blue-row {
    background-color: @blue-color;
    color: white;

    &:hover {
        background-color: darken(@blue-color, 5%);
    }
}